@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background hide-scrollbar;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Input Styling */

.input-field {
  @apply outline-none bg-neutral-100 p-2 rounded-md border border-neutral-300 placeholder-neutral-300 active:border-neutral-500 focus:border-neutral-500;
}
